@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

:root {
  --main-white-color: #d1d0c5;
  --main-grey-color: #323437;
  --secondary-grey-color: #646669;
  --main-yellow-color: #e2b714;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font: 16px/1.5 "Dosis", sans-serif;
  /*IE FIX*/
  /*display: flex;
  flex-direction: column;*/
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-header {
  background: var(--main-grey-color);
}

.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
 
.page-header ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
}
 
@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
  }
 
  .page-header .cta-contact {
    order: 1;
  }
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  background: var(--main-grey-color);
}
.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  color: var(--main-white-color);
}
.sigma {
  color: var(--main-yellow-color);
  font-size: x-large;
}

.page-header ul {
  color: var(--secondary-grey-color);
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
}

.page-header ul li:not(:last-child) {
  padding-right: 15px;
}

.page-header .cta-contact {
  color: var(--main-white-color);
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 18px;
  border: 1px solid;
  border-radius: 5px;
}

/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
  background: var(--main-grey-color);
  background-blend-mode: luminosity;
  color: var(--main-white-color);
}

.page-main .equation-renderer {
  color: var(--main-yellow-color);
  padding: 5%;
  font-size: large;
  text-align: center;
  padding: 0;
}

.page-main textarea{
  padding: 2%;
  color: var(--main-white-color);
  background-color: var(--main-grey-color);
  border-color: var(--secondary-grey-color);
  border-radius: 15px;
  border-width: medium;
  resize: none;
  outline: 0;

  flex-grow: 1;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.page-main .buttons-box{
  
}

.page-main button{
  margin: 3px;
  font-size: 20px;
  border: none;
  color: var(--secondary-grey-color);
  background-color: var(--main-grey-color);
}
.page-main button:hover{
  color: var(--main-white-color);
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  display: flex;
  flex-direction: column-reverse;
  background: var(--main-grey-color);
  color: var(--main-white-color);
}

.page-footer ul {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.page-footer ul li:not(:last-child) {
  margin-right: 20px;
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
  }

  .page-header .cta-contact {
    order: 1;
  }

  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer ul {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}