@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

:root {
  --main-white-color: #d1d0c5;
  --main-grey-color: #323437;
  --secondary-grey-color: #646669;
  --main-yellow-color: #e2b714;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

button {
  background: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font: 16px/1.5 "Dosis", sans-serif;
}

/* ----- CONTAINER ----- */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-header {
  background: var(--main-grey-color);
}

.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
 
.page-header ul {
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
}

/* ----- HEADER ----- */
.page-header {
  background: var(--main-grey-color);
}
.page-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo{
  padding: 0;
  display: flex;
  align-items: center;
  color: var(--main-white-color);
}
.sigma {
  color: var(--main-yellow-color);
  font-size: x-large;
}

.page-header ul {
  color: var(--secondary-grey-color);
  display: flex;
  order: 1;
  width: 100%;
  margin-top: 15px;
}

.page-header ul li:not(:last-child) {
  padding-right: 15px;
}

.page-header .cta-contact {
  color: var(--main-white-color);
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 18px;
  border: 1px solid;
  border-radius: 5px;
}

/* ----- MAIN ----- */
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
  background: var(--main-grey-color);
  background-blend-mode: luminosity;
  color: var(--main-white-color);
}

.page-main .equation-renderer {
  color: var(--main-yellow-color);
  padding: 5%;
  font-size: large;
  text-align: center;
  padding: 0;
  word-wrap: break-word;
  height: fit-content;
  vertical-align: center;  

  min-height: 100px;
  
  overflow: auto;
  scrollbar-width: thin;

}
.equation-renderer::-webkit-scrollbar {
  width:100px;               /* width of the entire scrollbar */
  height: 5px;
}

.equation-renderer::-webkit-scrollbar-track {
  background: var(--main-grey-color);        /* color of the tracking area */
  border: 1px solid var(--secondary-grey-color);
  border-radius: 10px; 
}

.equation-renderer::-webkit-scrollbar-thumb {
  background-color: var(--secondary-grey-color); 
  border-radius: 10px; 
  background-color: var(--secondary-grey-color);
}

.page-main .editor-buttons {
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: space-between; 
}
/*
.page-main textarea{
  padding: 2%;
  color: var(--main-white-color);
  background-color: var(--main-grey-color);
  border-color: var(--secondary-grey-color);
  border-radius: 15px;
  border-width: medium;
  resize: none;
  outline: 0;
  font-size: 18px;

  min-height: 300px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}*/

.input-container {
  min-height: 300px;
  position: relative;
  
  transform: translateZ(0) scale(1, 1);

  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.input-container textarea {
  padding: 2%;
  color: var(--main-white-color);
  
  background-color: var(--main-grey-color);
  border-color: var(--secondary-grey-color);
  border-radius: 15px;
  border-width: medium;

  resize: none;
  outline: 0;
  
  position: absolute;
  min-height: 300px;
  resize: none;
  width: 100%;

  
  font: 16px/1.5 "Dosis", sans-serif;
  
  caret-color: var(--main-yellow-color);
  background: transparent;
  z-index: 5;

  white-space: pre;
}
.input-container textarea::placeholder {
  color: rgba(34, 34, 34, 0.55);
}

.suggestion-container {
  
  color: var(--secondary-grey-color);
  
  pointer-events: none;

  white-space: pre;
}

/*TABS*/
.buttons-container{
  margin-top: 20px;
  flex-grow: 1; 
}

.buttons-container nav{
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  display: flex;
  text-align: center;
  position: relative;
  background: var(--main-grey-color);
  /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);*/
}
.buttons-container nav label{
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  margin: 0 5px;
  color: var(--secondary-grey-color);
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons-container nav label:hover{
  /*background: rgba(142, 68, 173, 0.3);*/
  color: var(--main-white-color);
}
.buttons-container nav label i{
  margin-right: 4px;
}
.buttons-container nav .slider{
  position: absolute;
  height: 100%;
  width: 20%;
  background: var(--secondary-grey-color);
  left: 0;
  top: 0;
  border-radius: 5px;
  transition: all 0.4s cubic-bezier(0, -0, 0.265, 1);
  z-index: 1;
}
#math:checked ~ nav label.math,
#blog:checked ~ nav label.blog,
#code:checked ~ nav label.code,
#help:checked ~ nav label.help,
#about:checked ~ nav label.about{
  color: var(--main-white-color);
}
#blog:checked ~ nav .slider{
left: 20%;
}
#code:checked ~ nav .slider{
left: 40%;
}
#help:checked ~ nav .slider{
left: 60%;
}
#about:checked ~ nav .slider{
left: 80%;
}
input[type=radio]{
  display: none;
}

.buttons-box {
  display:none;
}
.page-main .buttons-box button {
  width: 40px;
  height: 40px;
}

#math:checked ~ .math-buttons{
  display:block;
}
#blog:checked ~ .blog-buttons{
  display:block;
}

.page-main button{
  margin: 3px;
  font-size: 20px;
  border: none;
  color: var(--secondary-grey-color);
  background-color: var(--main-grey-color);
}
.page-main button:hover{
  color: var(--main-white-color);
}

/* ----- FOOTER ----- */
.page-footer {
  display: flex;
  flex-direction: column-reverse;
  background: var(--main-grey-color);
  color: var(--main-white-color);
}

.page-footer ul {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.page-footer ul li:not(:last-child) {
  margin-right: 20px;
}

/* ----- MQ ----- */
@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
  }

  .page-header .cta-contact {
    order: 1;
  }

  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer ul {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .page-main #latex_editor {
    min-height: 200px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}